absl-py==0.7.1
advertorch==0.1.4
appdirs==1.4.3
argh==0.26.2
astor==0.7.1
atari-py==0.1.7
atomicwrites==1.2.1
attrs==18.2.0
autograd==1.3
backcall==0.1.0
-e git+https://github.com/anandkamat05/Soft-Option-Critic.git@d617907dbcb645c56201800903c28488fc7aef5f#egg=baselines&subdirectory=baselines
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
boto3==1.9.228
botocore==1.12.228
box2d-py==2.3.8
cached-property==1.5.1
certifi==2019.11.28
cffi==1.13.2
chainer==5.0.0
chardet==3.0.4
Click==7.0
cliff==2.16.0
cloudpickle==0.6.1
cmd2==0.8.9
colorama==0.3.9
colorlog==4.0.2
comet-git-pure==0.19.11
comet-ml==2.0.12
comet-ml-api==0.1
configobj==5.0.6
configparser==4.0.2
contextlib2==0.5.5
cycler==0.10.0
cymem==2.0.2
Cython==0.29.1
cytoolz==0.9.0.1
dask==1.0.0
decorator==4.3.0
defusedxml==0.5.0
dgl==0.2
dill==0.3.1.1
Django==2.2.6
dlib==19.17.0
docker-pycreds==0.4.0
docutils==0.15.2
easydict==1.9
en-core-web-sm==2.0.0
entrypoints==0.3
everett==1.0.1
face-alignment==1.0.0
face-recognition==1.2.3
face-recognition-models==0.3.0
filelock==3.0.12
future==0.18.2
gast==0.2.0
gensim==3.8.0
geomstats==1.16
geoopt==0.0.1
gitdb2==2.0.5
GitPython==3.0.2
glfw==1.7.0
google-pasta==0.1.7
googledrivedownloader==0.4
gql==0.1.0
grakel-dev==0.1a6
graphql-core==2.2.1
graphviz==0.10.1
grpcio==1.15.0
gym==0.9.3
-e git+https://github.com/Breakend/gym-extensions@b260de72d7e4015727add3fee5d40a43f390a283#egg=gym_extensions
h5py==2.8.0
hypernymysuite==0.0.1
idna==2.7
image==1.5.27
imageio==2.6.1
imageio-ffmpeg==0.3.0
ipdb==0.11
ipython==6.5.0
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.4
joblib==0.12.5
jsonschema==2.6.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-vggface==0.5
kiwisolver==1.1.0
llvmlite==0.29.0
lockfile==0.12.2
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==3.1.1
mistune==0.8.4
mkl-service==2.3.0
more-itertools==5.0.0
moviepy==1.0.0
mpi4py==3.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
mujoco-py==0.5.7
multipledispatch==0.6.0
murmurhash==1.0.2
mypy==0.730
mypy-extensions==0.4.2
nbconvert==5.4.1
nbformat==4.4.0
netifaces==0.10.7
networkx==2.2
nltk==3.4.4
nose==1.3.7
numba==0.45.1
numpy==1.17.3
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python==3.4.4.19
opt-einsum==2.3.2
optuna==0.5.0
packaging==19.2
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pathlib==1.0.1
pathtools==0.1.2
pbr==5.4.3
pexpect==4.6.0
pickleshare==0.7.4
Pillow==8.1.1
plac==0.9.6
pluggy==0.8.1
plyfile==0.7
preshed==2.0.1
prettytable==0.7.2
proglog==0.1.9
progressbar2==3.38.0
promise==2.2.1
prompt-toolkit==1.0.15
protobuf==3.10.1
psutil==5.6.7
ptyprocess==0.6.0
pudb==2018.1
py==1.7.0
pybind11==2.4.3
pycparser==2.19
pycuda==2018.1.1
pydot==1.4.1
pyemd==0.5.1
pygame==1.9.4
pyglet==1.3.2
Pygments==2.2.0
PyOpenGL==3.1.0
pyparsing==2.4.5
pyperclip==1.7.0
pyro-ppl==0.3.2
pyrr==0.9.2
pytest==4.1.1
python-dateutil==2.8.1
python-utils==2.3.0
pytools==2018.5.2
pytz==2019.3
PyWavelets==1.0.1
PyYAML==5.2
rdflib==4.2.2
regex==2018.1.10
requests==2.20.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
Rx==1.6.1
s3transfer==0.2.1
scandir==1.6
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.4.0
seaborn==0.9.0
sentry-sdk==0.11.2
shortuuid==0.5.0
simplegeneric==0.8.1
six==1.13.0
sklearn==0.0
smart-open==1.8.4
smmap2==2.0.5
spacy==2.0.18
SQLAlchemy==1.3.9
sqlparse==0.3.0
stevedore==1.31.0
subprocess32==3.5.4
tensorboard==1.14.0
tensorboardX==1.4
tensorflow==1.10.1
tensorflow-estimator==1.14.0
termcolor==1.1.0
testpath==0.4.2
thinc==6.12.1
toolz==0.9.0
torch==1.3.1
torch-cluster==1.4.5
torch-geometric==1.3.1
torch-scatter==1.4.0
torch-sparse==0.4.3
torchtext==0.3.1
torchvision==0.4.2
torchviz==0.0.1
tornado==6.0.3
tqdm==4.31.1
traitlets==4.3.2
typed-ast==1.4.0
typing==3.7.4.1
typing-extensions==3.7.4
ujson==1.35
urllib3==1.24.1
urwid==2.0.1
wandb==0.8.13
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.55.0
Werkzeug==0.14.1
wrapt==1.11.2
wurlitzer==1.0.2
youtube-dl==2019.6.21
